# new user name linux
NEW_USER=exuser

# domain name
NEW_DOMAIN=exampledomain.com.au

# root for the web files
WWW_DIR=/path/to/www/$NEW_USER

# URL to latest wordpress
WORDPRESS_LATEST=https://en-au.wordpress.org/latest-en_AU.tar.gz

WP_CONFIG_SAMPLE=$WWW_DIR/web/wp-config-sample.php
WP_CONFIG=$WWW_DIR/web/wp-config.php
WP_CONFIG_TMP=$WP_CONFIG.tmp
THEME_DIR=$WWW_DIR/web/wp-content/themes
THEME=theme/Divi.zip
CHILD_THEME_DIR=$THEME_DIR/divi-child


# Mysql 
MYSQL_DB=${NEW_USER}db
MYSQL_USER=${NEW_USER}dbuser
MYSQL_ROOT_PASSWORD=

MYSQL_PASS=`pwgen -s -B -c -n 40 1 | sed s/./*$/5`

# these are the tags that are replaced
# in the templates
NEW_USER_TAG={{NEW_USER}}
NEW_DOMAIN_TAG={{NEW_DOMAIN}}


# location of templates
NGINX_CONF_TEMPLATE=templates/wp-nginx.conf
PHPFPM_CONF_TEMPLATE=templates/php-fpm.conf

# location of where to copy nginx and php-fpm conf files
NGINX_CONF_DIR=/etc/nginx/conf.d
PHPFPM_CONF_DIR=/etc/php-fpm.d

# full destination path for the conf files
NEW_NGINX_CONF=$NGINX_CONF_DIR/$NEW_USER.conf
NEW_PHPFPM_CONF=$PHPFPM_CONF_DIR/$NEW_USER.conf

