# new user name linux
NEW_USER=user1

# domain name
NEW_DOMAIN=site1.example.com.au

# PHP
PHP_VERSION=8.4
PHPFPM_SERVICE=php$PHP_VERSION-fpm.service

# root for the web files
WWW_DIR=/var/www/$NEW_USER

# Wordpress
WP_TABLE_PREFIX=wp_`pwgen -s -B -c -n 5 1`_
WP_ADMIN_USER=admin_username
WP_ADMIN_EMAIL=admin@example.com.au

# Mysql 
MYSQL_DB=${NEW_USER}db
MYSQL_USER=${NEW_USER}dbuser
MYSQL_PWD=<root password here>

# this is the wordpress db user pass
MYSQL_PASS=`pwgen -s -B -c -n 40 1 | sed s/./*$/5`

# these are the tags that are replaced
# in the templates
NEW_USER_TAG={{NEW_USER}}
NEW_DOMAIN_TAG={{NEW_DOMAIN}}

# location of templates
NGINX_CONF_TEMPLATE=templates/wp-nginx.conf
PHPFPM_CONF_TEMPLATE=templates/php-fpm.conf

# location of where to copy nginx and php-fpm conf files
NGINX_CONF_DIR=/etc/nginx/sites-available
SITES_ENABLED=/etc/nginx/sites-enabled
PHPFPM_CONF_DIR=/etc/php/$PHP_VERSION/fpm/pool.d

# full destination path for the conf files
NEW_NGINX_CONF=$NGINX_CONF_DIR/$NEW_USER.conf
NEW_PHPFPM_CONF=$PHPFPM_CONF_DIR/$NEW_USER.conf


